<launch> 
    <node pkg="sky_vision" name="camera_0" type="camera2ros.py" output="screen"> 
    <param name="~camera/index" type="int" value="0" />
    </node> 
    
    <node pkg="sky_vision" name="camera_1" type="camera2ros.py" output="screen">
    <param name="~camera/index" type="int" value="1" />
    </node>
</launch>
